.wrapper {
    @import "~@styles/import.scss";

    display: flex;
    flex-direction: row;

    @media(max-width: 575px) {
        & {
            flex-direction: column;
        }
    }

    @media(min-width: 576px) AND (max-width: 767px) {
        & {
            flex-direction: column;
        }
    }
}