.wrapper {

    > .detailsTitle {
        margin: 0 auto 20px auto;
        text-align: center;

        span {
            color: #B7B7B7;
            font-size: 14px;
            font-weight: 500;
            user-select: none;
        }
    }

    ol.table {
        // flexbox
        & {
            display: flex;
            flex-flow: column nowrap;
            > li {
                flex: 0 1 auto;
            }

            // large screens
            > li.largeScreens {
                display: block;

                @media(max-width: 992px) {
                    & {
                        display: none;
                    }
                }
            }

            // mobile screen
            > li.mobileScreens {
                display: none;

                @media(max-width: 992px) {
                    & {
                        display: block;
                    }
                }
            }

            > li > ul {
                display: flex;
                // justify-content: space-between;
                align-items: center;

                > li {

                }
            }
        }

        // style
        & {
            background: #fff;
            user-select: none;

            > li {
                margin-bottom: 10px;
                padding: 20px;

                @media(min-width: 576px) AND (max-width: 767px) {
                    & {
                        padding: 10px;
                    }
                }
            
                @media(max-width: 576px) {
                    & {
                        padding: 10px;
                    }
                }

                > ul {
                    > li {
                        // overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-all;
                    }
                }
            }
        }

        & {
            // large screens
            > li.largeScreens {
                > ul {
                    > li:nth-child(1) {
                        width: 24%;
                    }

                    > li:nth-child(2), > li:nth-child(3) {
                        width: 12%;
                    }

                    > li:nth-child(4) {
                        width: 18%;
                    }

                    > li:nth-child(5) {
                        width: 6%;
                    }

                    > li:nth-child(6) {
                        width: 8%;
                    }

                    > li:nth-child(7), > li:nth-child(8) {
                        width: 10%;
                    }

                    > li:nth-child(9) {
                        width: 3%;
                        text-align: center;
                    }
                }
            }

            // mobile screens
            > li.mobileScreens {
                > ul {
                    > li:nth-child(1) {
                        width: 24%;
                    }

                    > li:nth-child(2) {
                        width: 24%;
                    }

                    > li:nth-child(3) {
                        width: 12%;
                    }

                    > li:nth-child(4) {
                        width: 20%;
                    }

                    > li:nth-child(5) {
                        width: 16%;
                    }
        
                    > li:nth-child(6) {
                        width: 4%;
                    }
                }
            }
        }

        .btn {
            background: #82C9DE;
            border-radius: 50%;
            border: 0;
            outline: 0;
            color: #fff;
            cursor: pointer;
            width: 18px;
            height: 18px;
        }

        .tooltipBtn {
            background: #DFDFDF;
            position: relative;
            padding: 0 4px;
    
            > .tooltiptext {
                background: #FFFFFF;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
                border-radius: 6px;
                font-weight: 500;
                color: #000;
                padding: 5px;
                position: absolute;
                // min-width: 200px;
                z-index: 1;
                bottom: 135%;
                margin-left: -50px;
                opacity: 0;
                transition: opacity 0.6s;
                word-break: normal;
                display: none;
            }
    
            &:hover {
                background: #9C9C9C;
            }
    
            &:hover .tooltiptext {
                display: block;
                opacity: 1;
            }
        }
    }
}